<div class="contenedor">
    <div class= "caja_header">
        <label for="titulo">MTG TOPDECKER</label>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <div class= "caja_display1">
            <label for="canticartas">CANTIDAD DE CARTAS</label>
            <input id="cartas" formControlName="cartas" type="text" NgModel>
        </div>
        <div class= "caja_display2">
            <label for="canticomodines">CANTIDAD DE COMODINES</label>
            <input id="comodines" formControlName="comodines" type="text" NgModel>
        </div>
        <div class= "boton">
            <button type="submit">Submitt</button>
        </div>
    </form>
    <div class= "resultado" *ngIf="mensajeVisible">
        <h2>EL PROMEDIO DE INTENTOS PARA ROBAR UNA CARTA ESPECIFICA ES DE {{ valor }} </h2>
    </div>
</div>