<<div class="contenedor">
    <div class= "caja_header">
        <label for="titulo">HEARTHSTONE TOPDECKER</label>
    </div>
    <div class="Ingresos">
        <table>
            <h3 class="arquetipos">ESBIRROS</h3>
            <thead>
                <tr>
                    <th>COM</th>
                    <th>PAR</th>
                    <th>RAR</th>
                    <th>PAR</th>
                    <th>EPI</th>
                    <th>PAR</th>
                    <th>LEG</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="comunes" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="comPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="raras" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="rarPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="epicas" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="epiPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="legendarias" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="legendarias" type="number" placeholder="0" readOnly NgModel>
                    </div>
                </th>
            </tbody>
        </table>
        <table>
            <h3 class="arquetipos">ARMAS</h3>
            <thead>
                <tr>
                    <th>COM</th>
                    <th>PAR</th>
                    <th>RAR</th>
                    <th>PAR</th>
                    <th>EPI</th>
                    <th>PAR</th>
                    <th>LEG</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="comunes" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="comPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="raras" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="rarPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="epicas" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="epiPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="legendarias" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="legendarias" type="number" placeholder="0" readOnly NgModel>
                    </div>
                </th>
            </tbody>
        </table>
        <table>
            <h3 class="arquetipos">HECHIZOS</h3>
            <thead>
                <tr>
                    <th>COM</th>
                    <th>PAR</th>
                    <th>RAR</th>
                    <th>PAR</th>
                    <th>EPI</th>
                    <th>PAR</th>
                    <th>LEG</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="comunes" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="comPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="raras" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="rarPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="epicas" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="epiPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="legendarias" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="legendarias" type="number" placeholder="0" readOnly NgModel>
                    </div>
                </th>
            </tbody>
        </table>
        <table>
            <h3 class="arquetipos">LOCACIONES</h3>
            <thead>
                <tr>
                    <th>COM</th>
                    <th>PAR</th>
                    <th>RAR</th>
                    <th>PAR</th>
                    <th>EPI</th>
                    <th>PAR</th>
                    <th>LEG</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <th>
                    <div class= "inputs">
                        <input id="comunes" formControlName="comunes" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="comPAR" formControlName="comPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="raras" formControlName="raras" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="rarPAR" formControlName="rarPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="epicas" formControlName="epicas" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="epiPAR" formControlName="epiPAR" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="legendarias" formControlName="legendarias" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="total" type="number" placeholder="0" readOnly NgModel>
                    </div>
                </th>
            </tbody>
        </table>
        <table>
            <h3 class="arquetipos">HEROES</h3>
            <thead>
                <tr>
                    <th>LEG</th>
                    <th>TOTAL</th>
                    <th class ="total" id="totales">TOTAL CARTAS</th>
                </tr>
            </thead>
            <tbody>
                <th>
                    <div class= "inputs">
                        <input id="legendarias" formControlName="legendarias" type="number" placeholder="0" NgModel>
                    </div>
                </th>
                <th>
                    <div class= "inputs">
                        <input id="total" type="number" placeholder="0" readOnly NgModel>
                    </div>
                </th>
                <th class="total" id="totales">
                        <input id="totalFinal" type="number" placeholder="0" readOnly NgModel>
                </th>
            </tbody>
        </table>
    </div>
</div>
    <!--<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <div class= "caja_display" id="caja1">
            <label for="canticartas">CANTIDAD DE CARTAS</label>
            <input id="cartas" formControlName="cartas" type="text" placeholder="30" NgModel>
        </div>
        <div class= "caja_display" id="caja2">
            <label for="PAR">CANTIDAD DE REPETIDAS</label>
            <input id="PAR" formControlName="PAR" type="text" placeholder="0" NgModel>
        </div>
        <div class= "caja_display" id="caja3">
            <label for="canticomodines">CAST WHEN DRAW</label>
            <input id="comodines" formControlName="comodines" type="text" placeholder="0" NgModel>
        </div>
        <div class= "boton">
            <button type="submit">Submitt</button>
        </div>
    </form>
    <div class= "resultado" *ngIf="mensajeVisible">
        <h4>PROBAR GENERAR MAZO {{ mazo }} </h4>
        <h4>PROMEDIO DE INTENTOS DIO {{ valor }} </h4>
        <h4>NUMEROS BUSCADOS {{ numBuscados }} </h4>
        <h4>{{ falla }} </h4>
        <h4>CANTIDAD DE DUPLICADOS {{ cantidadRepetidas }} </h4>
        <h4>LONGITUDOS DE MAZOS TESTEADOS {{ longitudes }} </h4>
        <h4>CANTIDAD DE INTENTOS EN CADA CASO {{ intentosIndividuales }} </h4>
            <div *ngFor="let deck of mazosTesteados">
                <div><h4>LOS MAZOS TESTEADOS {{ deck }} </h4>
                </div>
            </div>
    </div>-->
