.contenedor {
    padding: 100px;
    width:300px;
    height:150px;
    position: relative;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    align-items: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
.caja_header {
    position: absolute;
    top: 0;
    margin: 10px;
    padding: 10px;
}
.caja_display {
    position: absolute;
    left: 0px;;
    padding: 0px;
    color: #333333;
}
#caja1 {
    top: 10px;
    margin: 60.5px;
}
#caja2 {
    top: 40px;
    margin: 60px;
}
#caja3 {
    top: 70px;
    margin: 60px;
}
.boton {
    position: absolute;
    top: 180px;
    left: 220px;
    margin: 0px;
    padding: 0px;
}
.resultado {
    position: absolute;
    top: 200px;
    background-color: white;
    margin: 20px;
    padding: 0px;
}