<<div class="contenedor">
    <div class= "caja_header">
        <label for="titulo">HEARTHSTONE TOPDECKER</label>
    </div>
    <div *ngFor="let arquetipo of arquetiposDeCartas; let i = index" class="Ingresos" >
        <form [formGroup]="formGroups[i]" (ngSubmit)="onSubmit()">
        <h3 class="arquetipos">{{ arquetipo }}s</h3>
            <table>
                <thead>
                    <tr>
                        <th>COM</th>
                        <th>PAR</th>
                        <th>RAR</th>
                        <th>PAR</th>
                        <th>EPI</th>
                        <th>PAR</th>
                        <th>LEG</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class= "ingreso" formControlName="comunes" type="number" placeholder="0" (input)="calcuTotalesParciales(i)"></td>
                        <td><input class= "ingreso" formControlName="comPAR" type="number" placeholder="0" (input)="calcuTotalesParciales(i)"></td>
                        <td><input class= "ingreso" formControlName="raras" type="number" placeholder="0" (input)="calcuTotalesParciales(i)"></td>
                        <td><input class= "ingreso" formControlName="rarPAR" type="number" placeholder="0" (input)="calcuTotalesParciales(i)"></td>
                        <td><input class= "ingreso" formControlName="epicas" type="number" placeholder="0" (input)="calcuTotalesParciales(i)"></td>
                        <td><input class= "ingreso" formControlName="epiPAR" type="number" placeholder="0" (input)="calcuTotalesParciales(i)"></td>
                        <td><input class= "ingreso" formControlName="legendarias" type="number" placeholder="0" (input)="calcuTotalesParciales(i)"></td>
                        <td><input class= "ingreso" formControlName="totales" type="number" placeholder="0" readOnly></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <button (click)="procesarFormulario()">Generar Armadores</button>
</div>