.contenedor {

    width:600px;
    height:400px;
    padding: 20px;
    position: relative;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
.caja_header {
    position: absolute;
    top: 0;
    margin: 10px;
    padding: 10px;
}
.caja_display {
    position: absolute;
    left: 0px;;
    padding: 0px;
    color: #333333;
}
h3 {
    font-size: 16px;
}
th{
    max-width: 25px;
    font-size: 12px;
}
.ingreso{
    margin-left: 5px;
    margin-right: 5px;
    max-width: 25px;
    font-size: 12px;
}
.arquetipos {
    padding: 0px;
    margin: 0px;
}

.Ingresos {
    position: relative;
    top: 13%;
}
button{
    position: relative;
    top: 13%;
}
